<div class="container-fluid">
  <div class="card shadow">
      <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold" style="float: left;padding-top: 15px;">List Request</p>
      </div>
      <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
          <table class="table my-0" id="dataTable">
            <thead>
              <tr>
                <th><%= t(".name")%></th>
                <th><%= t(".user ID")%></th>
                <th><%= t(".request_type")%></th>
                <th><%= t(".date request")%></th>
                <th><%= t(".status")%></th>
              </tr>
            </thead>
            <tbody>
            <% @requests.each do |request| %>
              <tr>
                <% if request.request_infor.present? && request.user.present? %>
                  <td><%= request.user.name %></td>
                  <td><%= request.user_id %></td>
                <% else %>
                  <td></td>
                  <td></td>
                <% end %>
                <td><%= request.request_type %></td>
                <% if request.request_infor.present? && request.request_infor.date_request.present? %>
                  <td><%= request.request_infor.date_request.strftime("%Y/%m/%d") %></td>
                <% else %>
                  <td></td>
                <% end %>
                <td><%= request.status %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <div class="mb-3 text-center">
            <%= link_to "Create", new_user_request_path, class: "btn btn-primary btn-sm text-center", style: "text-align: center;margin-top: 20px;" %>
          </div>
        </div>
      </div>
  </div>
</div>
