<div class="container container-fluid tab-content">
  <div class="row tab-pane show active" id="basic-content">
    <div class="col">
      <div class="card shadow mb-3">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold"><%= t('.edit_admin_users')%></p>
        </div>
        <div class="card-body">
          <%= render "admin/shared/error_messages", object: @admin_user %>
          <%= form_for [:admin, @admin_user] do |f| %>
            <%= render partial: 'form', locals: { f: f } %>
            <div class="card-footer text-center">
              <%= f.submit "Update AdminUser", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
