<div class="container-fluid">
  <section></section>
  <h3 class="text-dark mb-4"></h3>
  <div class="card shadow" style="margin-bottom: 20px;">
    <div class="card-header py-3">
      <p class="text-primary m-0 fw-bold" style="float: left;padding-top: 7px;"><%= t(".new_admin_users") %></p>
    </div>
    <div class="card-body" style="/*margin-bottom: 20px;*/">
      <%= render "admin/shared/error_messages", object: @admin_user %>
      <%= form_for [:admin, @admin_user] do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
        <div class="mb-3 text-center">
          <%= f.submit "Create User", class: "btn btn-primary btn-sm text-center", style: "text-align: center;margin-top: 20px;"%>
        </div>
      <% end %>
    </div>
  </div>
</div>

