 <%= f.fields_for :request_infor do |ff| %>
    <div data-controller="showhide" data-showhide-action="change" data-showhide-show-if-value="request_type">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3"><%= f.label :user, class: "form-label" do %><strong>User</strong><% end %>
                    <%= f.select :user_id, User.all.map {|u| [u.name, u.id]}, {}, {class: "form-select", style: "margin-bottom: 0px;"} %>
                </div>
                <div class="mb-3 ">
                    <%= f.label :request_type, class: "form-label" do %>
                        <strong>Request Type</strong>
                    <% end %>
                    <%= f.select :request_type, Request.request_types.keys.map {|rt| [rt.humanize, rt]}, {}, {class: "form-select request-type-select", id: "request_request_type"} %>
                </div>
            </div>

            <div class="col">
                <div class="col-md-12 mb-3">
                    <div class="col-md-6 mb-3">
                        <%= ff.label :data_request, class: "form-label" do %>
                            <strong>Date Request</strong>
                        <% end %>
                        <%= ff.text_field :date_request, class: "form-control datepicker", data: { provide: 'datepicker', format: 'yyyy-mm-dd' } %>
                    </div>

                    <div class="col-md-6 mb-3" showhide="checkIn">
                        <%= ff.label :check_in, class: "form-label" do %>
                            <strong>Check In</strong>
                        <% end %>
                         <%= ff.text_field :check_in, value: @request.request_infor.check_in.try(:strftime, "%H:%M"), class: "form-control", required: true, id: "request_check_in" %>
                    </div>

                    <div class="col-md-6 mb-3 d-none" showhide="checkOut">
                        <%= ff.label :check_out, class: "form-label" do %>
                            <strong>Check Out</strong>
                        <% end %>
                        <%= ff.text_field :check_out,  value: @request.request_infor.check_out.try(:strftime, "%H:%M"), class: "form-control", required: true, id: "request_check_out" %>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3 d-none" showhide="from">
                            <%= ff.label :from, class: "form-label" do %>
                            <strong>From</strong>
                            <% end %>
                            <%= ff.text_field :from,  class: "form-control datepicker", data: { provide: 'datepicker', format: 'yyyy-mm-dd' } %>
                        </div>
                        <div class="col-md-6 mb-3 d-none" showhide="to">
                            <%= ff.label :to, class: "form-label" do %>
                            <strong>To</strong>
                            <% end %>
                            <%= ff.text_field :to,  class: "form-control datepicker", data: { provide: 'datepicker', format: 'yyyy-mm-dd' } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
            <div class="col-md-8 mb-3">
                <div class="mb-3">
                    <%= f.label :status, class: "form-label" do %>
                        <strong>Status</strong>
                    <% end %>
                    <%= f.select :status, Request.statuses.keys.map {|s| [s.humanize, s]}, {}, class: "form-select status-select", id: "request_status" %>
                </div>
            </div>
            </div>

        </div>
    </div>
<% end %>
