<div class="container-fluid">
  <div class="card shadow" style="margin-bottom: 20px;">
    <div class="card-header py-3">
      <p class="text-primary m-0 fw-bold" style="float: left;padding-top: 7px;">Search</p>
    </div>
    <div class="card-body">
      <%= form_tag admin_users_path, method: :get do %>
        <%= hidden_field_tag :page, params[:page] %>
        <div class="row">
          <div class="col col-md-4">
            <div class="mb-4">
              <%= label_tag :name, "Name" %>
              <%= text_field_tag :name, nil, class: "form-control" %>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="mb-3">
              <%= label_tag :email, "Email" %>
              <%= text_field_tag :email, nil, class: "form-control" %>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="mb-3">
              <%= label_tag :tel, "Tel" %>
              <%= text_field_tag :tel, nil, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="mb-3 text-center">
          <%= submit_tag "Search", class: "btn btn-primary btn-sm text-center", style: "text-align: center;margin-top: 20px;" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-header py-3">
      <p class="text-primary m-0 fw-bold" style="float: left;padding-top: 15px;">List User</p>
    </div>
    <div class="card-body">
      <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
        <table class="table my-0" id="dataTable">
          <thead>
            <tr>
              <th><%= t('admin.admin_users.form.name')%></th>
              <th><%= t("admin.admin_users.form.email")%></th>
              <th><%= t("admin.admin_users.form.day_of_brith")%></th>
              <th><%= t("admin.admin_users.form.tel")%></th>
              <th><%= t("admin.admin_users.index.action")%></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.date_of_brith%></td>
              <td><%= user.tel %></td>
              <td><%= link_to "Edit", edit_admin_user_path(user) %> |
              <%= link_to "Delete", admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-md-6 align-self-center">
        </div>
        <div class="col-md-6">
          <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
              <li class="page-item <%= @users.current_page == 1 ? 'disabled' : '' %>">
                <a class="page-link" aria-label="Previous" href="?page=<%= @users.current_page - 1 %>">
                  <span aria-hidden="true">«</span>
                </a>
              </li>
              <% (1..@users.total_pages).each do |page| %>
                <% if page == @users.current_page %>
                  <li class="page-item active"><span class="page-link"><%= page %></span></li>
                <% else %>
                  <li class="page-item"><a class="page-link" href="?page=<%= page %>"><%= page %></a></li>
                <% end %>
              <% end %>
              <li class="page-item <%= @users.current_page == @users.total_pages ? 'disabled' : '' %>">
                <a class="page-link" aria-label="Next" href="?page=<%= @users.current_page + 1 %>">
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>
</div>
