<div class="container-fluid">
  <div class="card shadow" style="margin-bottom: 20px;">
    <div class="card-header py-3">
      <p class="text-primary m-0 fw-bold" style="float: left;padding-top: 7px;">Search</p>
    </div>
    <div class="card-body">
      <%= form_for :user, url: admin_users_path, method: :get do |f| %>
      <div class="row">
        <div class="col col-md-4">
          <div class="mb-4">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="mb-3">
            <%= f.label :email, "Email" %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="mb-3">
            <%= f.label :tel, "Tel" %>
            <%= f.text_field :tel, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="mb-3 text-center">
        <%= f.submit "Search", class: "btn btn-primary btn-sm text-center", style: "text-align: center;margin-top: 20px;" %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-header py-3">
      <p class="text-primary m-0 fw-bold" style="float: left;padding-top: 15px;">List User</p>
    </div>
    <div class="card-body">
      <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
        <table class="table my-0" id="dataTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Date Of Brith</th>
              <th>Tel</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.date_of_brith%></td>
              <td><%= user.tel %></td>
              <td><%= link_to "Edit", edit_admin_user_path(user) %> |
              <%= link_to "Delete", admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
