<!DOCTYPE html>
<html>
  <head>
    <title>DuAn</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <%= render "layouts/sidebar" %>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <%= render "layouts/navigtation"%>
          <%= yield %>
        </div>
      </div>
  </body>
</html>
